<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card p-4 shadow">
          <h4 class="text-center mb-3">Admin Login</h4>
          <form (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="adminPassword" class="form-label">Enter Admin Password</label>
              <input type="password" class="form-control" id="adminPassword" [(ngModel)]="adminPassword" name="adminPassword">
            </div>
            <button type="submit" class="btn btn-dark w-100">Log In</button>
            <div *ngIf="error" class="text-danger text-center mt-2">
              Incorrect password. Try again.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  